/node_modules
/public/hot
public/uploads
/public/storage
/public/storage/public/*
/storage/*.key
/vendor
/.idea
.env
.rnd
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/public/upload
/public/uploads
/.phpintel
/nbproject/private/
/nbproject/
